service: sms-otp-burner

provider:
  name: aws
  runtime: nodejs22.x
  region: ap-southeast-4
  environment:
    TELSTRA_CLIENT_ID: ${env:TELSTRA_CLIENT_ID}
    TELSTRA_CLIENT_SECRET: ${env:TELSTRA_CLIENT_SECRET}
    MAX_LEASED_NUMBER_COUNT: ${env:MAX_LEASED_NUMBER_COUNT, '1'}

functions:
  api:
    handler: src/handler.api
    events:
      - httpApi:
          path: /api/{proxy+}
          method: ANY
  frontend:
    handler: src/handler.serveFrontend
    events:
      - httpApi:
          path: /
          method: get
      - httpApi:
          path: /favicon.ico
          method: get
      - httpApi:
          path: /manifest.json
          method: get
      - httpApi:
          path: /asset-manifest.json
          method: get
      - httpApi:
          path: /static/css/{proxy+}
          method: get
      - httpApi:
          path: /static/js/{proxy+}
          method: get
      - httpApi:
          path: /static/media/{proxy+}
          method: get

plugins:
  - serverless-dotenv-plugin
  - serverless-offline

package:
  patterns:
    - 'src/handler.js'
    - 'build/**'
    - 'node_modules/axios/**'
    - 'node_modules/mime-types/**'
    - 'node_modules/mime-db/**'
    - 'package.json'
    - '!coverage/**'
    - '!.nyc_output/**'
    - '!test/**'
    - '!tests/**'
    - '!e2e/**'
    - '!playwright-report/**'
    - '!playwright.config.js'
    - '!public/**'
    - '!.git/**'
    - '!.env'
    - '!README.md'
    - '!serverless.yml'

custom:
  serverless-offline:
    httpPort: 3000
